<form [formGroup]="formulario" (ngSubmit)="salvarPromocao()">
    <div class="row mb-4">
        <div class="col-12 mb-5">
            <h1>Cadastro de Promoções</h1>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="gtin">GTIN:</label>
            <input type="text" class="form-control" name="gtin" formControlName="gtin" required>
        </div>
        <div class="col-12 col-md-8 mb-3">
            <label for="descricao">Descrição completa:</label>
            <input type="text" class="form-control" name="descricao" formControlName="descricao" required>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="categoria" title="Selecione uma opção" name="categoria" class="form-select" formControlName="categoria" required>
                <option value="Eletrônicos">Eletrônicos</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Cereais">Cereais</option>
            </select>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="precoregular">Preço regular:</label>
            <input type="text" class="form-control" name="precoregular" formControlName="precoRegular" currencyMask required>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="precopromocional">Preço promocional:</label>
            <input type="text" class="form-control" name="precopromocional" formControlName="precoPromocional" currencyMask required>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="datainicial">Data inicial da promoção:</label>
            <input type="date" class="form-control" name="datainicial" formControlName="dataInicial" id="dataInicial" required>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="datafinal">Data final da promoção:</label>
            <input type="date" class="form-control" name="datafinal" formControlName="dataFinal" [min]="dataMinimaFinal" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-secondary me-2" (click)="onCancelar()" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </div>
</form>